.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
.note{
    font-size: 15px;
    color: rgb(52, 189, 238);
}
body{
    background-size: cover;
}
.div_speed{
    float: left;
}
.div_volume{
    float: right;
}
#speed,#volume{
    font-size: 23px;
    margin: 15px;
}
.div_volume_img,.div_speed_img{
    width: 200px;
    border-radius: 100px;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
}
.play_button{
    width: 130px;
    font-size:25px;
}
